$bg-header: rgb(82, 88, 95);
$bg-h1: rgb(96, 104, 112);
$bg-main: rgb(133, 138, 143);
$bg-footer: rgb(82, 88, 95);

$font-h1: 'Open Sans', sans-serif;
$font-h2: 'Open Sans', sans-serif;
$font-main: 'Open Sans', sans-serif;
$font-footer: 'Merriweather', serif;